In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
codes = []

for letter in range(ord('A'), ord('Z') + 1):
    print(chr(letter), end=' ')
    url = "https://en.wikipedia.org/wiki/List_of_airports_by_IATA_code:_%s" % chr(letter)
    page_request = requests.get(url)
    soup = BeautifulSoup(page_request.text, "lxml")
    wikitable = soup.find('table', {'class':'wikitable'})
    
    trs = wikitable.findAll('tr')

    for tr in trs[1:]: # Skip header
        if tr.get('class'):
            continue
        tds = tr.findAll('td')
        content = [tds[0].text, # IATA
                    tds[1].text,  # ICAO
                    tds[2].text,  # Airport name
                    tds[3].text] #Location served 
        if len(tds) > 4:
            content.extend([tds[4].text, tds[5].text])
        else:
            content.extend(["-","-"])
        codes.append(content)

iata_codes = pd.DataFrame(codes, 
                          columns=[
                              "IATA", 
                              "ICAO",
                              "Airport name",
                              "Location served",
                              "Time",
                              "DST"])
iata_codes.head()

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

,IATA,ICAO,Airport name,Location served,Time,DST
0,AAA,NTGA,Anaa Airport,"Anaa, Tuamotus, French Polynesia",UTC−10:00,
1,AAB,YARY,Arrabury Airport,"Arrabury, Queensland, Australia",UTC+10:00,
2,AAC,HEAR,El Arish International Airport,"El Arish, Egypt",UTC+02:00,
3,AAD,,Adado Airport,"Adado (Cadaado), Galguduud, Somalia",UTC+03:00,
4,AAE,DABB,Rabah Bitat Airport (Les Salines Airport),"Annaba, Algeria",UTC+01:00,

In [3]:
iata_codes.to_csv("vuelax/airports.csv")