In [2]:
import os
import requests
import json
import re
import time
import glob
import datetime
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from os.path import join
from slugify import slugify
from bs4 import BeautifulSoup
from bs4.element import NavigableString
from urllib.parse import urlparse, parse_qs

base_dir = "vuelax"
if not os.path.exists(base_dir):
    os.makedirs(base_dir)
    
original_file = join(base_dir, "original.csv")

In [2]:
months = {'enero':1, 'febrero':2, 'marzo':3,
          'abril':4, 'mayo':5, 'junio':6,
          'julio':7,'agosto':8, 'septiembre':9,
          'octubre':10, 'noviembre':11, 'diciembre':12}

date_regex = re.compile('(\w+) ([0-9]+), ([0-9]{4})')

def date_converter(date):
    found = date_regex.search(date)
    if found:
        return datetime.datetime(year=int(found.group(3)), month=months[found.group(1)], day=int(found.group(2)))
    else:
        return np.nan

In [3]:
data = None
last_date = None
if os.path.exists(original_file):
    data = pd.read_csv(original_file, index_col=0, parse_dates=['date'], encoding='utf-8')
    last_date = data.iloc[0]['date']
    print("Last date", last_date)
    print(data.head())

Last date 2018-01-21 00:00:00
                                     label  \
0  CDMX a India – $8,621 ¡3 nuevas fechas!
1                    GDL a La Paz – $1,195
2  CDMX a India – $8,621 ¡4 nuevas fechas!
4             GDL y CDMX a China – $11,046
6                 CUN a Ámsterdam – $9,339

                                                 url       date
0  http://www.vuelax.com/2018/01/21/cdmx-a-india-... 2018-01-21
1  http://www.vuelax.com/2018/01/20/gdl-a-la-paz-... 2018-01-20
2  http://www.vuelax.com/2018/01/20/cdmx-a-india-... 2018-01-20
4  http://www.vuelax.com/2018/01/19/gdl-y-cdmx-a-... 2018-01-19
6  http://www.vuelax.com/2018/01/19/cun-a-amsterd... 2018-01-19

In [5]:
oportunidades_url = "http://www.vuelax.com/category/oportunidades/page/%d/"
uncategorized_url = "http://www.vuelax.com/category/uncategorized/page/%d/"

In [6]:
content = []
brk = False
for page in range(1, 100000):
    url = uncategorized_url % page
    op_page = requests.get(url)
    if page % 10 == 0:
        print("Requesting", url)
    if op_page.status_code != 200:
        break
    op_soup = BeautifulSoup(op_page.text, "lxml")
    main_ul = op_soup.find("ul", {"class":"penci-grid"})
    articles = main_ul.findAll("article", {"class":"item"})
    for article in articles:
        grid_title = article.find("h2", {"class":"grid-title"})
        a = grid_title.find("a")
        grid_post_box_meta = article.find("div", {"class":"grid-post-box-meta"})
        date = date_converter(grid_post_box_meta.text.strip())
        if date <= last_date:
            brk = True
            print("Ya tengo esta fecha!")
            break
        content.append([a.text, a.get('href'), date])
    if brk:
        break
        
if data is not None:
    other = pd.DataFrame(content, columns= ["label", "url", "date"])
    data = pd.concat([data, other])
else:
    data =  pd.DataFrame(content, columns= ["label", "url", "date"])
data.sort_values(by=['date', 'label'], ascending= False, inplace=True)
print(data.head())
print(data.info())

print("Done")

Ya tengo esta fecha!
                                     label  \
0  CDMX a India – $8,621 ¡3 nuevas fechas!
1                    GDL a La Paz – $1,195
2  CDMX a India – $8,621 ¡4 nuevas fechas!
4             GDL y CDMX a China – $11,046
6                 CUN a Ámsterdam – $9,339

                                                 url       date
0  http://www.vuelax.com/2018/01/21/cdmx-a-india-... 2018-01-21
1  http://www.vuelax.com/2018/01/20/gdl-a-la-paz-... 2018-01-20
2  http://www.vuelax.com/2018/01/20/cdmx-a-india-... 2018-01-20
4  http://www.vuelax.com/2018/01/19/gdl-y-cdmx-a-... 2018-01-19
6  http://www.vuelax.com/2018/01/19/cun-a-amsterd... 2018-01-19
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1435 entries, 0 to 1392
Data columns (total 3 columns):
label    1435 non-null object
url      1435 non-null object
date     1435 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 44.8+ KB
None
Done

In [7]:
data.to_csv(join(base_dir, "original.csv"), encoding='utf-8')

In [8]:
data = pd.read_csv(join(base_dir, "original.csv"), index_col=0, parse_dates=['date'], encoding='utf-8')

In [9]:
location_regex = re.compile('([\w0-9,\s\.]+) [a|A] ([\w0-9,\s\.]+)\s*[-|–|"desde"|"DESDE"]\s*\$([0-9\.,]+)')


clean_values = []
non_clean_values = []

for index, row in data.iterrows():
    label = row['label']
    find = location_regex.search(label)
    if find:
        de = find.group(1)
        a = find.group(2)
        por = find.group(3)
        clean_values.append([de, a, por, row["url"], row["date"]])
    else:
        non_clean_values.append(row.values)

clean = pd.DataFrame(clean_values, columns= ["origin", "destination", "price", "url", "date"])
still_dirty_df = pd.DataFrame(non_clean_values, columns= ["label", "url", "date"])



print("== Clean ==")
print(clean.head())
print(clean.info())
clean.to_csv(join(base_dir, "clean.csv"), encoding='utf-8')
print()
print("== Dirty ==")
print(still_dirty_df.head())
print(still_dirty_df.info())
still_dirty_df.to_csv(join(base_dir, "still_dirty.csv"), encoding='utf-8')

== Clean ==
       origin destination   price  \
0        CDMX      India    8,621
1         GDL     La Paz    1,195
2        CDMX      India    8,621
3  GDL y CDMX      China   11,046
4         CUN  Ámsterdam    9,339

                                                 url       date
0  http://www.vuelax.com/2018/01/21/cdmx-a-india-... 2018-01-21
1  http://www.vuelax.com/2018/01/20/gdl-a-la-paz-... 2018-01-20
2  http://www.vuelax.com/2018/01/20/cdmx-a-india-... 2018-01-20
3  http://www.vuelax.com/2018/01/19/gdl-y-cdmx-a-... 2018-01-19
4  http://www.vuelax.com/2018/01/19/cun-a-amsterd... 2018-01-19
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 5 columns):
origin         1297 non-null object
destination    1297 non-null object
price          1297 non-null object
url            1297 non-null object
date           1297 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 50.7+ KB
None

== Dirty ==
                                               label  \
0  CDMX a Irlanda (escala larga en Canadá) – $16,...
1  GDL a Hiroshima, Japón (escala larga en Shangh...
2  CDMX a Atenas, Grecia (escala larga en NYC) – ...
3  CDMX a Madrid (escala larga en Toronto) – $14,...
4  CDMX a Barcelona + Barcelona a Moscú – Ekateri...

                                                 url       date
0  http://www.vuelax.com/2017/12/15/cdmx-a-irland... 2017-12-15
1  http://www.vuelax.com/2017/12/13/cdmx-a-hirosh... 2017-12-13
2  http://www.vuelax.com/2017/12/13/cdmx-a-atenas... 2017-12-13
3  http://www.vuelax.com/2017/12/12/cdmx-a-madrid... 2017-12-12
4  http://www.vuelax.com/2017/12/12/cdmx-a-barcel... 2017-12-12
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 3 columns):
label    138 non-null object
url      138 non-null object
date     138 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 3.3+ KB
None

In [10]:
still_dirty_df = pd.read_csv(join(base_dir, "still_dirty.csv"), parse_dates=['date'], index_col = 0, encoding='utf-8')
print(still_dirty_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 0 to 137
Data columns (total 3 columns):
label    138 non-null object
url      138 non-null object
date     138 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 4.3+ KB
None

In [11]:
location_regex_note = re.compile('([\w0-9,\s\.]+) [a|A] ([\w0-9,\s\.]+)\s*\(([\w\s]+)\)\s*[-|–|"desde"|"DESDE"]\s*\$([0-9\.,]+)')


clean_values = []
non_clean_values = []

for index, row in still_dirty_df.iterrows():
    label = row['label']
    find = location_regex_note.search(label)
    if find:
        de = find.group(1)
        a = find.group(2)
        note = find.group(3)
        por = find.group(4)
        clean_values.append([de, a, por, note, row["url"], row["date"]])
    else:
        non_clean_values.append(row.values)


clean2 = pd.DataFrame(clean_values, columns= ["origin", "destination", "price", "note", "url", "date"])
print(clean2.info())

still_dirty_df = pd.DataFrame(non_clean_values, columns= ["label", "url", "date"])
print(still_dirty_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
origin         11 non-null object
destination    11 non-null object
price          11 non-null object
note           11 non-null object
url            11 non-null object
date           11 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 608.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 3 columns):
label    127 non-null object
url      127 non-null object
date     127 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 3.1+ KB
None

In [12]:
clean = pd.read_csv(join(base_dir, "clean.csv"), index_col = 0, parse_dates=['date'], encoding='utf-8')
clean = pd.concat([clean, clean2])

print("== Clean ==")
print(clean.head())
print(clean.info())
clean.to_csv(join(base_dir, "clean.csv"), encoding='utf-8')
print()
print("== Dirty ==")
print(still_dirty_df.head())
print(still_dirty_df.info())
still_dirty_df.to_csv(join(base_dir, "still_dirty.csv"), encoding='utf-8')

== Clean ==
        date destination note      origin   price  \
0 2018-01-21      India   NaN        CDMX   8,621
1 2018-01-20     La Paz   NaN         GDL   1,195
2 2018-01-20      India   NaN        CDMX   8,621
3 2018-01-19      China   NaN  GDL y CDMX  11,046
4 2018-01-19  Ámsterdam   NaN         CUN   9,339

                                                 url
0  http://www.vuelax.com/2018/01/21/cdmx-a-india-...
1  http://www.vuelax.com/2018/01/20/gdl-a-la-paz-...
2  http://www.vuelax.com/2018/01/20/cdmx-a-india-...
3  http://www.vuelax.com/2018/01/19/gdl-y-cdmx-a-...
4  http://www.vuelax.com/2018/01/19/cun-a-amsterd...
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1308 entries, 0 to 10
Data columns (total 6 columns):
date           1308 non-null datetime64[ns]
destination    1308 non-null object
note           11 non-null object
origin         1308 non-null object
price          1308 non-null object
url            1308 non-null object
dtypes: datetime64[ns](1), object(5)
memory usage: 71.5+ KB
None

== Dirty ==
                                               label  \
0  CDMX a Barcelona (escala larga en Canadá) + Ba...
1  ¡GDL a Panamá! – $3,790. ¡Opción de hostal des...
2                                MTY a Cancún $1,455
3                                ¡2×1! ¡Full Brasil!
4     ¡CDMX y 23 ciudades más a Nueva York! – $4,776

                                                 url       date
0  http://www.vuelax.com/2017/12/11/cdmx-a-barcel... 2017-12-11
1  http://www.vuelax.com/2017/12/07/gdl-a-panama-... 2017-12-07
2  http://www.vuelax.com/2017/12/04/mty-a-cancun-... 2017-12-04
3  http://www.vuelax.com/2017/11/24/2x1-full-brasil/ 2017-11-24
4  http://www.vuelax.com/2017/11/17/cdmx-y-23-ciu... 2017-11-17
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 3 columns):
label    127 non-null object
url      127 non-null object
date     127 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 3.1+ KB
None

In [13]:
still_dirty_df = pd.read_csv(join(base_dir, "still_dirty.csv"), index_col = 0, encoding='utf-8')
print(still_dirty_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127 entries, 0 to 126
Data columns (total 3 columns):
label    127 non-null object
url      127 non-null object
date     127 non-null object
dtypes: object(3)
memory usage: 4.0+ KB
None

In [14]:
location_regex_note = re.compile('¡([\w0-9,\s\.]+) [a|A] ([\w0-9,\s\.]+)!\s[-|–|"desde"|"DESDE"]\s*\$([0-9\.,]+)')


clean_values = []
non_clean_values = []

for index, row in still_dirty_df.iterrows():
    label = row['label']
    find = location_regex_note.search(label)
    if find:
        de = find.group(1)
        a = find.group(2)
        por = find.group(3)
        clean_values.append([de, a, por, row["url"], row["date"]])
    else:
        non_clean_values.append(row.values)


clean2 = pd.DataFrame(clean_values, columns= ["origin", "destination", "price", "url", "date"])
print(clean2.info())

still_dirty_df = pd.DataFrame(non_clean_values, columns= ["label", "url", "date"])
print(still_dirty_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
origin         42 non-null object
destination    42 non-null object
price          42 non-null object
url            42 non-null object
date           42 non-null object
dtypes: object(5)
memory usage: 1.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 3 columns):
label    85 non-null object
url      85 non-null object
date     85 non-null object
dtypes: object(3)
memory usage: 2.1+ KB
None

In [15]:
clean = pd.read_csv(join(base_dir, "clean.csv"), index_col = 0, encoding='utf-8')
clean = pd.concat([clean, clean2])

print("== Clean ==")
print(clean.head())
print(clean.info())
clean.to_csv(join(base_dir, "clean.csv"), encoding='utf-8')
print()
print("== Dirty ==")
print(still_dirty_df.head())
print(still_dirty_df.info())
still_dirty_df.to_csv(join(base_dir, "still_dirty.csv"), encoding='utf-8')

== Clean ==
         date destination note      origin   price  \
0  2018-01-21      India   NaN        CDMX   8,621
1  2018-01-20     La Paz   NaN         GDL   1,195
2  2018-01-20      India   NaN        CDMX   8,621
3  2018-01-19      China   NaN  GDL y CDMX  11,046
4  2018-01-19  Ámsterdam   NaN         CUN   9,339

                                                 url
0  http://www.vuelax.com/2018/01/21/cdmx-a-india-...
1  http://www.vuelax.com/2018/01/20/gdl-a-la-paz-...
2  http://www.vuelax.com/2018/01/20/cdmx-a-india-...
3  http://www.vuelax.com/2018/01/19/gdl-y-cdmx-a-...
4  http://www.vuelax.com/2018/01/19/cun-a-amsterd...
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1350 entries, 0 to 41
Data columns (total 6 columns):
date           1350 non-null object
destination    1350 non-null object
note           11 non-null object
origin         1350 non-null object
price          1350 non-null object
url            1350 non-null object
dtypes: object(6)
memory usage: 73.8+ KB
None

== Dirty ==
                                               label  \
0  CDMX a Barcelona (escala larga en Canadá) + Ba...
1                                MTY a Cancún $1,455
2                                ¡2×1! ¡Full Brasil!
3  ¡Sin pasar EEUU! CDMX y 23 ciudades más a Vanc...
4  CDMX y más ciudades a Lima, Perú. ¡Opción de h...

                                                 url        date
0  http://www.vuelax.com/2017/12/11/cdmx-a-barcel...  2017-12-11
1  http://www.vuelax.com/2017/12/04/mty-a-cancun-...  2017-12-04
2  http://www.vuelax.com/2017/11/24/2x1-full-brasil/  2017-11-24
3  http://www.vuelax.com/2017/11/15/sin-pasar-eeu...  2017-11-15
4  http://www.vuelax.com/2017/11/13/cdmx-y-mas-ci...  2017-11-13
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 3 columns):
label    85 non-null object
url      85 non-null object
date     85 non-null object
dtypes: object(3)
memory usage: 2.1+ KB
None

In [16]:
clean = pd.read_csv(join(base_dir, "clean.csv"), index_col = 0)

strip_blanks = lambda x: x.strip()
strip_dot = lambda x: x.strip('.')

print(clean[['origin','destination','price']].tail(30))
clean.origin = clean.origin.apply(strip_blanks)
clean.destination = clean.destination.apply(strip_blanks)
clean.price = clean.price.apply(strip_dot)
print(clean[['origin','destination','price']].tail(30))


clean.to_csv(join(base_dir, "clean.csv"), encoding='utf-8')

                         origin                       destination    price
12                   CDMX y GDL             Chihuahua y viceversa    1,814
13                         CDMX  El Calafate, Patagonia Argentina   10,829
14       CDMX y 23 ciudades más                 San Francisco, CA    3,795
15       CDMX y 23 ciudades más                   Toronto, Canadá   8,486.
16                         CDMX                 Santa Clara, Cuba    4,666
17       CDMX y 23 ciudades más                  Montreal, Canadá   8,367.
18                         CDMX                            Madrid  11,866.
19                         CDMX                         Barcelona  11,921.
20         CDMX, MTY, GDL y CUN                  El Cairo, Egipto  10,038.
21                         CDMX             San Juan, Puerto Rico    4,292
22                   CDMX y GDL         San Francisco, California    3,970
23                         CDMX                    Beirut, Líbano  13,219.
24  CDMX, GDL y 22 ciudades más                           Chicago    3,388
25       CDMX y 23 ciudades más                      Roma, Italia   16,275
26                         CDMX                    Varadero, Cuba    5,526
27                         CDMX                   Honolulu, Hawai   10,931
28                   CDMX y GDL                   Bali, Indonesia   13,808
29                   CDMX y GDL                      Osaka, Japón   12,227
30                   CDMX y GDL                 Anchorage, Alaska    9,680
31         CDMX, MTY, GDL y CUN                  El Cairo, Egipto   9,686.
32                         CDMX                 Sydney, Australia   18,312
33                   CDMX y GDL                     San Francisco    4,110
34                         CDMX                       Nueva Delhi   10,921
35                         CDMX                Edimburgo, Escocia   17,963
36                         CDMX                 Santa Clara, Cuba    5,438
37                         CDMX                 Cancún en Navidad    2,489
38                         CDMX                        Oranjestad   7,564.
39                         CDMX                           Londres   13,917
40                         CDMX                          Chetumal    1,462
41                         CDMX                         La Habana    3,720
                         origin                       destination   price
12                   CDMX y GDL             Chihuahua y viceversa   1,814
13                         CDMX  El Calafate, Patagonia Argentina  10,829
14       CDMX y 23 ciudades más                 San Francisco, CA   3,795
15       CDMX y 23 ciudades más                   Toronto, Canadá   8,486
16                         CDMX                 Santa Clara, Cuba   4,666
17       CDMX y 23 ciudades más                  Montreal, Canadá   8,367
18                         CDMX                            Madrid  11,866
19                         CDMX                         Barcelona  11,921
20         CDMX, MTY, GDL y CUN                  El Cairo, Egipto  10,038
21                         CDMX             San Juan, Puerto Rico   4,292
22                   CDMX y GDL         San Francisco, California   3,970
23                         CDMX                    Beirut, Líbano  13,219
24  CDMX, GDL y 22 ciudades más                           Chicago   3,388
25       CDMX y 23 ciudades más                      Roma, Italia  16,275
26                         CDMX                    Varadero, Cuba   5,526
27                         CDMX                   Honolulu, Hawai  10,931
28                   CDMX y GDL                   Bali, Indonesia  13,808
29                   CDMX y GDL                      Osaka, Japón  12,227
30                   CDMX y GDL                 Anchorage, Alaska   9,680
31         CDMX, MTY, GDL y CUN                  El Cairo, Egipto   9,686
32                         CDMX                 Sydney, Australia  18,312
33                   CDMX y GDL                     San Francisco   4,110
34                         CDMX                       Nueva Delhi  10,921
35                         CDMX                Edimburgo, Escocia  17,963
36                         CDMX                 Santa Clara, Cuba   5,438
37                         CDMX                 Cancún en Navidad   2,489
38                         CDMX                        Oranjestad   7,564
39                         CDMX                           Londres  13,917
40                         CDMX                          Chetumal   1,462
41                         CDMX                         La Habana   3,720

In [17]:
clean = pd.read_csv(join(base_dir, "clean.csv"), index_col = 0, encoding='utf-8')
clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1350 entries, 0 to 41
Data columns (total 6 columns):
date           1350 non-null object
destination    1350 non-null object
note           11 non-null object
origin         1350 non-null object
price          1350 non-null object
url            1350 non-null object
dtypes: object(6)
memory usage: 73.8+ KB

In [28]:
convert_price = lambda price: float(price.replace(',',''))
clean.price = clean['price'].apply(convert_price)
clean.to_csv(join(base_dir, "clean.csv"), encoding='utf-8')

In [19]:
clean = pd.read_csv(join(base_dir, "clean.csv"), index_col = 0, parse_dates=['date'], encoding='utf-8')
clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1350 entries, 0 to 41
Data columns (total 6 columns):
date           1350 non-null datetime64[ns]
destination    1350 non-null object
note           11 non-null object
origin         1350 non-null object
price          1350 non-null float64
url            1350 non-null object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 73.8+ KB

In [28]:
import nltk
tolist  = lambda origin: [t.strip() for t in nltk.tokenize.regexp.regexp_tokenize(origin, r'[y,\.\?!"]\s*', gaps=True)]

separate_origins = []

for index, row in clean.iterrows():
    origins = tolist(row['origin'])
    for origin in origins:
        separate_origins.append([origin, row['destination'],
                                row['date'], row['price'],
                                row['note'], row['url']])
        
separa_origin_df = pd.DataFrame(separate_origins, columns=['origin', 'destination',
                                                           'date', 'price', 
                                                           'note', 'url'])

separa_origin_df.to_csv(join(base_dir, "separate_origins.csv"), encoding='utf-8')

In [53]:
import geocoder

locations = sorted(set(list(separa_origin_df.origin.unique()) + list(separa_origin_df.destination.unique())))

real_locations = {'CDMX': 'Ciudad de México', 
                  'CUN': 'Cancún', 'GDL': 'Guadalajara',
                  'L.A.': 'Los Angeles', 'LA': 'Los Angeles',
                  'MTY': 'Monterrey', 'NYC': 'New York City', 
                  'PUE': 'Puebla', 'QRO': 'Querétaro',
                  'SLP': 'San Luis Potosí',
                  'TIJ': 'Tijuana', 'VER': 'Veracruz'
                 }

location_dic = {}
for l in locations[21:]:
    l = real_locations.get(l, l)
    g = geocoder.google(l,key = 'GOOGLE KEY API')
    if g.ok:
        location_dic[l] = g.latlng

In [61]:
get_real_name = lambda l: real_locations.get(l, l)
get_lat = lambda l: location_dic.get(l, (np.nan,np.nan))[0]
get_long = lambda l: location_dic.get(l, (np.nan,np.nan))[1]

separa_origin_df['origin'] = separa_origin_df.origin.apply(get_real_name)
separa_origin_df['origin_lat'] = separa_origin_df.origin.apply(get_lat)
separa_origin_df['origin_long'] = separa_origin_df.origin.apply(get_long)
separa_origin_df['destination_lat'] = separa_origin_df.destination.apply(get_lat)
separa_origin_df['destination_long'] = separa_origin_df.destination.apply(get_long)

separa_origin_df = separa_origin_df[['origin','origin_lat','origin_long',
                                     'destination','destination_lat','destination_long',
                                     'date', 'price', 'url','note']]
separa_origin_df.to_csv(join(base_dir, "separate_origins.csv"), encoding='utf-8')
separa_origin_df.head()

,origin,origin_lat,origin_long,destination,destination_lat,destination_long,date,price,url,note
0,Ciudad de México,19.432608,-99.133208,India,20.593684,78.962880,2018-01-21,8621.0,http://www.vuelax.com/2018/01/21/cdmx-a-india-...,NaN
1,Guadalajara,20.659699,-103.349609,La Paz,-16.489689,-68.119294,2018-01-20,1195.0,http://www.vuelax.com/2018/01/20/gdl-a-la-paz-...,NaN
2,Ciudad de México,19.432608,-99.133208,India,20.593684,78.962880,2018-01-20,8621.0,http://www.vuelax.com/2018/01/20/cdmx-a-india-...,NaN
3,Guadalajara,20.659699,-103.349609,China,35.861660,104.195397,2018-01-19,11046.0,http://www.vuelax.com/2018/01/19/gdl-y-cdmx-a-...,NaN
4,Ciudad de México,19.432608,-99.133208,China,35.861660,104.195397,2018-01-19,11046.0,http://www.vuelax.com/2018/01/19/gdl-y-cdmx-a-...,NaN

In [13]:
clean.describe()

              price
count   1308.000000
mean    8043.583975
std     4604.504704
min        9.839000
25%     4102.000000
50%     7221.500000
75%    11708.250000
max    21999.000000

In [12]:
clean.iloc[clean.price.argmin()]

date                                         2017-03-24 00:00:00
destination                                               Egipto
note                                                         NaN
origin                                                      CDMX
price                                                      9.839
url            http://www.vuelax.com/2017/03/24/cdmx-egipto-9...
Name: 891, dtype: object

In [22]:
unique_destinations = clean.origin.unique()

dest = set()

for u in unique_destinations:
    parts = re.findall(r"[\w\.']+", u)
    print(u, parts)
    for part in parts:
        if part == '' or part =="y" or part=="Y":
            break
        dest.add(part.strip())
print(dest)

CDMX ['CDMX']
CUN ['CUN']
Canadá ['Canadá']
Islandia ['Islandia']
GDL y CDMX ['GDL', 'y', 'CDMX']
CDMX y GDL ['CDMX', 'y', 'GDL']
Toronto ['Toronto']
CUN y CDMX ['CUN', 'y', 'CDMX']
CDMX, MTY, GDL, León y SLP ['CDMX', 'MTY', 'GDL', 'León', 'y', 'SLP']
Milán ['Milán']
Vancouver ['Vancouver']
NYC ['NYC']
CDMX y 23 ciudades más ['CDMX', 'y', '23', 'ciudades', 'más']
MTY, GDL y CDMX ['MTY', 'GDL', 'y', 'CDMX']
L.A. ['L.A.']
Monterrey ['Monterrey']
CDMX, MTY, GDL ['CDMX', 'MTY', 'GDL']
Cancun, GDL, MTY, SLP y Silao ['Cancun', 'GDL', 'MTY', 'SLP', 'y', 'Silao']
MTY, GDL y CUN ['MTY', 'GDL', 'y', 'CUN']
Aguascalientes ['Aguascalientes']
Mérida ['Mérida']
CDMX, GDL y MTY ['CDMX', 'GDL', 'y', 'MTY']
Varadero ['Varadero']
GDL ['GDL']
LA ['LA']
CDMX, GDL, MTY, Leon y Puebla ['CDMX', 'GDL', 'MTY', 'Leon', 'y', 'Puebla']
Hotel. Guadalajara ['Hotel.', 'Guadalajara']
Hotel. CDMX, GDL, MTY, QRO y León ['Hotel.', 'CDMX', 'GDL', 'MTY', 'QRO', 'y', 'León']
Hotel. Desde todo México. CDMX y 23 ciudades más ['Hotel.', 'Desde', 'todo', 'México.', 'CDMX', 'y', '23', 'ciudades', 'más']
CDMX, MTY, GDL, León, TIJ y SLP ['CDMX', 'MTY', 'GDL', 'León', 'TIJ', 'y', 'SLP']
Tuxtla ['Tuxtla']
Cancún ['Cancún']
Vallarta, GDL y CDMX ['Vallarta', 'GDL', 'y', 'CDMX']
Hotel. CDMX ['Hotel.', 'CDMX']
CDMX, GDL, MTY, León, VER y SLP ['CDMX', 'GDL', 'MTY', 'León', 'VER', 'y', 'SLP']
4 días, 3 noches. CDMX, GDL, MTY, SLP, León, PUE, VER ['4', 'días', '3', 'noches.', 'CDMX', 'GDL', 'MTY', 'SLP', 'León', 'PUE', 'VER']
CDMX, MTY, GDL, Leon, TIJ, VER y CUN ['CDMX', 'MTY', 'GDL', 'Leon', 'TIJ', 'VER', 'y', 'CUN']
Hotel. CDMX, MTY, GDL, León y VER ['Hotel.', 'CDMX', 'MTY', 'GDL', 'León', 'y', 'VER']
CDMX, CUN, GDL y MTY ['CDMX', 'CUN', 'GDL', 'y', 'MTY']
Zurich ['Zurich']
Hotel. CDMX, Monterrey, Tijuana, Veracruz y Cancún ['Hotel.', 'CDMX', 'Monterrey', 'Tijuana', 'Veracruz', 'y', 'Cancún']
Hotel. CDMX, MTY y GDL ['Hotel.', 'CDMX', 'MTY', 'y', 'GDL']
CDMX, MTY, GDL, Tuxtla, León, VER, SLP ['CDMX', 'MTY', 'GDL', 'Tuxtla', 'León', 'VER', 'SLP']
Hotel. CDMX, MTY, GDL, León, VER, ['Hotel.', 'CDMX', 'MTY', 'GDL', 'León', 'VER']
Hotel. CDMX, MTY, GDL, TIJ, León, VER, ['Hotel.', 'CDMX', 'MTY', 'GDL', 'TIJ', 'León', 'VER']
París ['París']
Roma ['Roma']
Madrid ['Madrid']
Los Cabos, Vallarta, GDL y CDMX ['Los', 'Cabos', 'Vallarta', 'GDL', 'y', 'CDMX']
MTY y CDMX ['MTY', 'y', 'CDMX']
CDMX, MTY, GDL y VER ['CDMX', 'MTY', 'GDL', 'y', 'VER']
CDMX y MTY ['CDMX', 'y', 'MTY']
CDMX, MTY y GDL ['CDMX', 'MTY', 'y', 'GDL']
QRO, MTY, GDL y CDMX ['QRO', 'MTY', 'GDL', 'y', 'CDMX']
Singapur ['Singapur']
Vallarta ['Vallarta']
CDMX  y GDL ['CDMX', 'y', 'GDL']
4 días, 3 noches de hotel. CDMX, GDL, MTY, SLP, León, PUE, VER ['4', 'días', '3', 'noches', 'de', 'hotel.', 'CDMX', 'GDL', 'MTY', 'SLP', 'León', 'PUE', 'VER']
Houston ['Houston']
Montreal ['Montreal']
4 días, 3 noches de hotel. Guadalajara ['4', 'días', '3', 'noches', 'de', 'hotel.', 'Guadalajara']
CDMX, Cancún, Mérida o Oaxaca ['CDMX', 'Cancún', 'Mérida', 'o', 'Oaxaca']
MTY ['MTY']
CDMX, MTY, GDL y CUN ['CDMX', 'MTY', 'GDL', 'y', 'CUN']
9 días, 6 noches de hotel. CDMX ['9', 'días', '6', 'noches', 'de', 'hotel.', 'CDMX']
CDMX, GDL, MTY, CUN y más ['CDMX', 'GDL', 'MTY', 'CUN', 'y', 'más']
4 días, 3 noches de hotel. CDMX, GDL, MTY, SLP, León, QRO y VER ['4', 'días', '3', 'noches', 'de', 'hotel.', 'CDMX', 'GDL', 'MTY', 'SLP', 'León', 'QRO', 'y', 'VER']
4 días, 3 noches de hotel. CDMX, GDL y MTY ['4', 'días', '3', 'noches', 'de', 'hotel.', 'CDMX', 'GDL', 'y', 'MTY']
Los Angeles ['Los', 'Angeles']
4 noches de hotel. CDMX, GDL y MTY ['4', 'noches', 'de', 'hotel.', 'CDMX', 'GDL', 'y', 'MTY']
San Diego ['San', 'Diego']
Mazatlán ['Mazatlán']
CDMX, GDL y CUN ['CDMX', 'GDL', 'y', 'CUN']
Silao, CDMX, GDL y MTY ['Silao', 'CDMX', 'GDL', 'y', 'MTY']
Mérida, Guadalajara y Monterrey ['Mérida', 'Guadalajara', 'y', 'Monterrey']
Londres ['Londres']
CDMX y 21 ciudades ['CDMX', 'y', '21', 'ciudades']
CDMX y CUN ['CDMX', 'y', 'CUN']
Mérida y 21 estados ['Mérida', 'y', '21', 'estados']
CDMX y 23 ciudades ['CDMX', 'y', '23', 'ciudades']
CDMX y 22 ciudades ['CDMX', 'y', '22', 'ciudades']
CUN y 21 ciudades ['CUN', 'y', '21', 'ciudades']
CDMX o GDL a Los Angeles y Los Angeles ['CDMX', 'o', 'GDL', 'a', 'Los', 'Angeles', 'y', 'Los', 'Angeles']
Montreal y Toronto ['Montreal', 'y', 'Toronto']
CDMX, GDL  y 21 ciudades ['CDMX', 'GDL', 'y', '21', 'ciudades']
MTY y GDL ['MTY', 'y', 'GDL']
Los Ángeles ['Los', 'Ángeles']
Mérida y 21 ciudades ['Mérida', 'y', '21', 'ciudades']
CDMX Y 21 ciudades más ['CDMX', 'Y', '21', 'ciudades', 'más']
CUN, GDL, CDMX y 21 ciudades más ['CUN', 'GDL', 'CDMX', 'y', '21', 'ciudades', 'más']
CDMX y 23 ciudades más a Montreal y Montreal ['CDMX', 'y', '23', 'ciudades', 'más', 'a', 'Montreal', 'y', 'Montreal']
CDMX y 23 ciudades más a Madrid y Madrid ['CDMX', 'y', '23', 'ciudades', 'más', 'a', 'Madrid', 'y', 'Madrid']
CDMX y 23 ciudades más a Londres y Londres ['CDMX', 'y', '23', 'ciudades', 'más', 'a', 'Londres', 'y', 'Londres']
CDMX y 23 ciudades más a Roma y Roma ['CDMX', 'y', '23', 'ciudades', 'más', 'a', 'Roma', 'y', 'Roma']
CDMX a Madrid y Madrid ['CDMX', 'a', 'Madrid', 'y', 'Madrid']
CDMX y 23 ciudades más a Machester y Manchester ['CDMX', 'y', '23', 'ciudades', 'más', 'a', 'Machester', 'y', 'Manchester']
CDMX a Medellín y Medellín ['CDMX', 'a', 'Medellín', 'y', 'Medellín']
CDMX a Montreal y Montreal ['CDMX', 'a', 'Montreal', 'y', 'Montreal']
GDL, CDMX ['GDL', 'CDMX']
CDMX, GDL, MTY, TIJ y CUN ['CDMX', 'GDL', 'MTY', 'TIJ', 'y', 'CUN']
CUN, CDMX, GDL ['CUN', 'CDMX', 'GDL']
CDMX, GDL, MTY y CUN ['CDMX', 'GDL', 'MTY', 'y', 'CUN']
CDMX  y 23 ciudades más ['CDMX', 'y', '23', 'ciudades', 'más']
CDMX a Monterrey o Monterrey ['CDMX', 'a', 'Monterrey', 'o', 'Monterrey']
Miami ['Miami']
CDMX a GDL ó GDL ['CDMX', 'a', 'GDL', 'ó', 'GDL']
CUN, CDMX, GDL y MTY ['CUN', 'CDMX', 'GDL', 'y', 'MTY']
CUN, CDMX, MTY y GDL ['CUN', 'CDMX', 'MTY', 'y', 'GDL']
Desde CDMX y 23 ciudades más ['Desde', 'CDMX', 'y', '23', 'ciudades', 'más']
CDMX  más ['CDMX', 'más']
GDL, CDMX, MTY y CUN ['GDL', 'CDMX', 'MTY', 'y', 'CUN']
CDMX, CUN, MTY y GDL ['CDMX', 'CUN', 'MTY', 'y', 'GDL']
CDMX, MTY, GDL y más ['CDMX', 'MTY', 'GDL', 'y', 'más']
CDMX y muchas ciudades ['CDMX', 'y', 'muchas', 'ciudades']
CDMX , GDL y CUN ['CDMX', 'GDL', 'y', 'CUN']
CDMX, CUN, MTY, GDL ['CDMX', 'CUN', 'MTY', 'GDL']
MTY, GDL, CDMX ['MTY', 'GDL', 'CDMX']
GDL, CUN y CDMX ['GDL', 'CUN', 'y', 'CDMX']
CDMX y muchas ciudades más ['CDMX', 'y', 'muchas', 'ciudades', 'más']
CDMX, MTY ['CDMX', 'MTY']
CDMX, MTY, CUN, GDL ['CDMX', 'MTY', 'CUN', 'GDL']
CUN, CDMX y GDL ['CUN', 'CDMX', 'y', 'GDL']
CDMX y más ciudades ['CDMX', 'y', 'más', 'ciudades']
MTY, CDMX, GDL ['MTY', 'CDMX', 'GDL']
VARIOS ESTADOS ['VARIOS', 'ESTADOS']
CDMX y muchas ciudades de México ['CDMX', 'y', 'muchas', 'ciudades', 'de', 'México']
Ekaterimburgo ['Ekaterimburgo']
Costa Rica ['Costa', 'Rica']
CDMX y 23 ciudades más a Costa Rica, Costa Rica ['CDMX', 'y', '23', 'ciudades', 'más', 'a', 'Costa', 'Rica', 'Costa', 'Rica']
Laredo ['Laredo']
CDMX a San José y San José ['CDMX', 'a', 'San', 'José', 'y', 'San', 'José']
CDMX, GDL y 22 ciudades más ['CDMX', 'GDL', 'y', '22', 'ciudades', 'más']
{'Miami', 'Silao', 'Vancouver', 'Medellín', 'Angeles', 'Monterrey', 'Oaxaca', 'Hotel.', 'LA', 'Guadalajara', '4', 'Cancún', 'días', 'Laredo', 'CUN', 'Zurich', 'Cabos', 'hotel.', 'o', 'Diego', 'NYC', 'todo', 'México.', 'Cancun', 'Islandia', 'Singapur', 'TIJ', 'Montreal', 'CDMX', 'Mérida', 'León', 'Tijuana', 'Los', 'MTY', 'Veracruz', 'de', 'a', 'VER', 'Ángeles', 'ó', 'más', 'Madrid', 'Roma', 'Toronto', '9', 'Varadero', '3', 'QRO', 'Costa', 'Aguascalientes', 'José', 'Mazatlán', 'ESTADOS', 'VARIOS', 'Desde', 'noches.', 'SLP', 'Houston', 'Rica', '6', 'Vallarta', 'Ekaterimburgo', 'L.A.', 'Leon', 'Milán', 'San', 'Canadá', 'París', 'PUE', 'noches', 'GDL', 'Tuxtla', 'Londres'}